/* ========== CONTAINER ========== */
.container {
 box-sizing: border-box;
 max-width: 1200px;
 padding-left: 20px;
 padding-right: 20px;
 margin-left: auto;
 margin-right: auto;
}

/* ========== BOTAO ========== */
.botao {
 font-family: 'Poppins';
 padding: 16px 32px;
 background-color: var(--cor-p1);
 border-radius: 4px;
 box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
 color: var(--cor-p5);
 text-transform: uppercase;
 font-size: 18px;
 font-weight: 600;
 line-height: 1.3;
 max-width: max-content;
}

.botao:hover {
 background-color: var(--cor-p2);
 transition: .2s;
}

.botao.secundario {
 background-color: var(--cor-9);
 color: var(--cor-0);
}

.botao.secundario:hover {
 background-color: var(--cor-8);
}

@media (max-width:600px) {
 .botao a {
  padding: 12px 16px;
  font-size: 16px;
 }
}

/* ========== LINK ========== */

.link {
 display: inline-block;
 color: var(--cor-p1);
 font: 500 1.5rem/1.5 "Poppins", sans-serif;
 text-transform: uppercase;
}

.link::after {
 content: "";
 display: block;
 height: 2px;
 width: 100%;
 background-color: currentColor;
}

.link:hover {
 color: var(--cor-0);
 transition: .2s;
}

/* ========== TITULO ========== */
.titulo-bg {
 padding-top: 60px;
 padding-top: 60px;
 background-color: var(--cor-11);
}

.titulo p {
 text-transform: uppercase;
 margin-bottom: 4px;
}

@media (max-width:800px) {
 .titulo-bg {
  padding-top: 40px;
  padding-top: 40px;
 }

 .titulo p {
  font-size: 1rem;
  text-transform: lowercase;
  font-weight: 400;
 }
}